/*------ css reset ------*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {
    width: 75%;
    max-width: 750px;
    line-height: 1.5em;
    margin: auto;
}

section {
    padding: 2.5em 0;
}

/*-----TYPOGRAPHY-----*/


p {
    font-size: em;
    line-height: 1.8em;
    padding-bottom: 1.25em;
}

blockquote {
    padding-top: 2.2em;
    font-size: 1em;
    color: 	#A9A9A9;
    text-indent: -9px;
    hanging-punctuation: first;
    letter-spacing: .03em;
}

blockquote p {
    line-height: 1.6em;
    font-size: 1.4em;
}

.quote {
    font-style: normal;
    font-weight: 200;
}

cite {
    font-size: .9em;
    display: block;
    text-indent: 0.15em;
}

h1 {
    font-weight: 300;
    font-size: 5.2em;
    line-height: 1.3em;
    padding-bottom: .2em;
    letter-spacing: 1px;
}

h2 {
    font-weight: 100;
    font-size: 2em;
    font-style: italic;
    padding-bottom: 1em;
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 1;
    padding-bottom: .9em;
}


/*---STYLING---*/

hr {
     border: .9px solid #FF69B4;
     margin: 3.1em 0;
}

.born {
    padding-bottom: 0em;
}

.indent {
    text-indent: 1em;
}

.one{
        font-family: 'Libre Baskerville', serif;
    }

.one p:nth-of-type(2):first-letter {
    font-size: 4em;
    line-height: 1.1em;
    float: left;
}

.two {
    font-family: 'Roboto', sans-serif;
}

.three {
    font-family: 'Roboto', sans-serif;
}

.three h3 {
    font-family: 'Roboto', sans-serif;
}
.three p {
    font-family: 'Roboto', sans-serif;
}

.introduction {
    font-size: 1.4em;
}